* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightblue;
}

h1 {
    margin-bottom: 1rem;

    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

body header, body div {
    margin-bottom: 1rem;
}

span {
    font-weight: bold;
}

ul {
    padding-left: 2rem;
}

/* Align Lists
======================================================================================================================*/
.section-columns {
    display: flex;
    flex-flow: wrap column;

    margin: 0;

    max-height: 50px;
}
/* aligning text to the left and right to make it like a space-between effect */
.align-left {
    width: 50%;
    text-align: left;
}

.align-right {
    width: 50%;
    text-align: right;
}

/* 3 column lists
======================================================================================================================*/
.list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;

    gap: 2rem;
}

.list div {
    width: 30%;
}
/* Sets the margin bottom to 0 */
#education, #skills-and-certifications {
    margin-bottom: 0;
}
/* Page
======================================================================================================================*/
#page {
    margin-top: 2rem;
    padding: 1rem;
    max-width: 940px;

    background-color: white;
}

#education .section-columns {
    max-height: 18px;
}

#my-website {
    margin-top: 1rem;
}

/* For Smaller Screens
======================================================================================================================*/
@media screen and (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p, li {
        font-size: 1.2rem;
    }

    .section-columns {
        display: inline;
    }

    .align-left, .align-right {
        width: 100%;
    }

    .align-right {
        text-align: left;
    }

    .list {
        display: block;
    }

    .list div {
        margin: 0;
        width: 100%;
    }

    #skills-and-certifications {
        margin-top: 1rem;
    }
}